<div class="card-content" [@isFavorite]="destination.isSelected() ? 'favoriteState' : notFavoriteState">
	<div class="card-img">
		<!-- <img src="destination.url" alt="Lower Manhattan"> -->
		<div class="card__header">
			<span class="position"><h6>{{position}}</h6></span>
			<ul class="menu-content">
				<li><a href="#" (click)="voteUp()" appClickTracking data-tracking-tags="destination_vote_up destination_list_item" class="bi-hand-thumbs-up"></a></li>
				<li><a href="#" (click)="voteDown()" appClickTracking data-tracking-tags="destination_vote_down destination_list_item" class="bi-hand-thumbs-down"></a></li>
				<li><a href="#" (click)="reset()" class="bi-arrow-counterclockwise"></a></li>
				<li>{{destination.votes}}</li>
			</ul>
		</div>	
	</div>
	<div class="card-desc"><div>
		<h3>{{destination.name}}
			<hr>
		<span class="fav" *ngIf="destination.isSelected()">
			<span ngNonBindable>  <svg class="card__heart" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
			  </svg></span>
		</span></h3>
<!-- 		<div>
			<a href="#" (click)="voteUp()"><i class="material-icons md-dark">thumb_up</i></a>&nbsp;
			<a href="#" (click)="voteDown()"><i class="material-icons md-dark">thumb_down</i></a>&nbsp;
			<a href="#" (click)="reset()"><i class="material-icons md-dark">close</i></a>&nbsp;
			Votes: {{destination.votes}}
		</div> -->
		<p>Services</p>
			<ul>
				<li *ngFor="let s of destination.services;">
					<small class="container" [ngSwitch]="s">
						<i *ngSwitchCase="'breakfast'">{{s}}</i>
						<i *ngSwitchDefault>{{s}}</i>
					</small>
				</li>
			</ul>
		</div>
		<div class="card__footer">
			<button href="#" (click)="go()" appClickTracking data-tracking-tags="destination_chosen_favorite destination_list_item" class="bi-bookmark btn-card">   Select</button>		
			<button class="btn-card" [routerLink]="['/destination', destination.id]" style="float: right;">Read More</button>
		</div>
	</div>
</div> 
