<form
	[formGroup]="fg"
	(ngSubmit)="save(fg.controls['name'].value, fg.controls['url'].value)">
		<div class="form-group">
			<label for="name">Name</label>
			<input name="name" type="text" class="form-control" id="name" placeholder="Add name..."
				[formControl]="fg.controls['name']">
				<ul>
					<li *ngFor="let r of searchResults;">{{r}}</li>
				</ul>
				<div *ngIf="fg.controls['name'].hasError('required')">Name is required</div>
				<div *ngIf="fg.controls['name'].hasError('invalidName')">Name not valid</div>
				<div *ngIf="fg.controls['name'].hasError('minNameLength')">It must be at least {{minLength}} characters long</div>
		</div>
		<div class="form-group">
			<label for="url">Image url</label>
			<input name="url" type="text" class="form-control" id="url" placeholder="Add url..."
				[formControl]="fg.controls['url']">
		</div>
		<button type="submit" class="btn btn-dark" *ngIf="fg.valid">Save</button> 
	</form>
