
<form *ngIf="!authService.getUser()">
	<div class="form-group col-md-6">
	  <label for="username">User:</label>
	  <input type="" class="form-control" id="username" aria-describedby="emailHelp" placeholder="user" name="username" #username>
	  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	</div>
	<div class="form-group col-md-6">
	  <label for="password">Password:</label>
	  <input type="password" class="form-control" id="password" placeholder="password" name="password" #password>
	</div>
	<!-- <div class="form-group form-check">
	  <input type="checkbox" class="form-check-input" id="exampleCheck1">
	  <label class="form-check-label" for="exampleCheck1">Check me out</label>
	</div> -->
	<button type="submit" class="btn btn-dark" (click)="login(username.value, password.value)">Submit</button>
	<p class="text-danger">{{errorMessage}}</p>
  </form>

  	<button type="submit" class="btn btn-dark" (click)="logout()" *ngIf="authService.getUser()">Logout</button>