/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

/* card details start */
  
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i ,900,900i|Roboto+Condensed:400,400i,700,700i');
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
:root {
	--black: hsl(0, 0%, 0%);
	--gray-1: hsl(0, 0%, 75%);
	--gray-2: hsl(0, 0%, 25%);
	--white: hsl(0, 0%, 100%);
	--blue-300: hsl(207, 61%, 71%);
	--blue-500: hsl(207, 61%, 56%);
	--blue-700: hsl(207, 61%, 35%);
	--blue-900: hsl(207, 61%, 25%);
	--red-300: hsl(25, 100%, 96.7%);
	--red-500: hsl(0, 100%, 50%);
	--red-700: hsl(0, 100%, 27.3%);
	--blue-gradient-1: hsla(0, 0%, 10%, 0.5);
	--blue-gradient-2: hsla(0, 0%, 100%, 0.2);
	--background-img: url(https://source.unsplash.com/yb0Qs65aZmc);
	/* https://source.unsplash.com//fLYjmjuQu20 */
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: "Inter", system-ui, sans-serif;
	place-items: center;
	background-color:var(--white);
}
section {
	padding: 100px 0;
}
.details-card { 
	background: var(--white);
}
.fav{
	float: right;
}
.card__heart {
	width: 1rem;
	height: 1rem;
	margin-top: 0.25rem;
	margin-left: auto;
	color: var(--red-500);
}  
.card-content {
	/* border-radius: 1rem; */
	background: var(--white);
	border: 1px solid var(--gray-1);
	/* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
	overflow: hidden;
	min-height: 24rem;
}
.card-img { 
	position: relative; 
	overflow: hidden; 
	border-radius: 0; 
	z-index: 1;
	background: linear-gradient(
		var(--blue-gradient-1), 
		var(--blue-gradient-2)
	  ), 
	  var(--background-img) center / cover no-repeat;
	height: auto;
	width: auto;
	display: block;
	min-height: 16rem;
	margin: 0.5rem;
}
.card__header {
    color: var(--white);
    padding: 0.5rem;
}
.position {
	float: left;
	font-size: 12px;
	background-color: var(--red-500);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	line-height: 0;
  	position: relative;
}
.position::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.position h6 {
	position: absolute;
	bottom: 50%;
	width: 100%;
	line-height: 0;
	text-align: center;
	margin: 0;
}
.menu-content {
	margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
.menu-content li {
	display: inline-block;
	margin: 0 5px;
    position: relative;
}
.menu-content a {
	color: var(--white);
}
.card-desc { 
	padding: 0 1.25rem 1.25rem;
	margin-top: 1rem;
}
.card-desc h3 {
	color: var(--black);
	font-weight: 900; 
	font-size: 1.5em; 
	line-height: 1.3em; 
	margin-top: 0; 
	margin-bottom: 2.5px; 
	padding: 0;
}
.card-desc p {
	color: var(--gray-2);
	font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-top: 1rem;
	padding: 0;
} 
.card-desc ul {
	color: var(--black);
	font-size: 12px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1;
	margin: 0px;
	margin-bottom: 20px;
	padding-left: 2rem;
} 
.btn-card {
	background-color: var(--white);
	color: var(--black);
	border: none; 
	cursor: pointer; 
	white-space: normal; 
	word-wrap: break-word;
	width: 100%;
	height: 2.5rem;
  	font-size: 0.875rem;
	font-weight: 500;
	place-items: middle-center;
}
.card__footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.btn-card:hover {
	color: var(--red-700);
}
/* End card section */

.footer {
	background-color: var(--white);
}

hr {
	border-top: 1px solid var(--black);
}

.active {
	text-decoration: underline red;
	font-weight: bold;
	cursor: crosshair;
}

.popover-header {
	background-color: var(--black);
	color: var(--white);
}