<p>
  This is our travel's details!
  <!-- This is {{ destination.name }}'s details! -->
  <br>
  <!-- {{ destination.id }} -->
  <br>
  <!-- {{ destination.name }} -->
</p>
<hr>
<div class="row-flex">
<mgl-map
  [style]="'mapbox://styles/mapbox/light-v8'"
  [zoom]="[10]"
  [center]="[-73.935242, 40.730610]"
>
  <mgl-marker [lngLat]="[-73.935242, 40.730610]">
    <div onclick="popover()" onmouseout="hidepop()" tabindex="0" class="marker" data-toggle="popover" title="NYC" data-content="Situated on one of the world's largest natural harbors, 
    New York City is composed of five boroughs, 
    each of which is a county of the State of New York. 
    The five boroughs—Brooklyn, Queens, Manhattan, the Bronx, and Staten 
    Island—were created when local governments were consolidated into a single city in 1898.">Hello, world!</div>
    <!-- <div onclick="alert('Hello')" class="marker">Hello World</div> -->
  </mgl-marker>
</mgl-map>
</div>
