
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand font-weight-bolder" href="#">TW<small class="font-weight-light">&copy;</small></a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
	  			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/home']" aria-current="page" href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/destination/:id']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Destination</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" [routerLink]="['/flights']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Flights</a>
		  </li>
		</ul>
	  </div>
	  <span class="navbar-text">
        <select class="custom-select my-1 mr-sm-2" aria-label="Default select example" (change)="translate.use($event.target.value)">
			<!-- <option selected>EN</option> -->
			<option value="¡Hola y Bienvenido!">ES</option>
			<option selected value="Hi and Welcome!">EN</option>
			<option value="Salut et Bienvenue!">FR</option>
		  </select>
      </span>
	</div>
  </nav>

<main role="main" class="flex-shrink-0" style="margin-top: 5rem;">
	<div class="container">
		<div class="row">
			<h1>
				<!-- {{ title }}  --><b [innerHTML]="'HOLA' | translate"></b>
			</h1>
		</div>
		
	<router-outlet></router-outlet>
	</div>
</main>

<footer class="footer mt-auto py-3">
	<div class="container">
		<span class="text-muted">Today is {{ time | async }}</span>
	</div>
</footer>
