<div class="container"> 
	<div class="row">
		<div class="col-md-6">
			<span class="anchor" id="formLogin"></span>
			<!-- form card login with validation feedback --> 
			<div class="card card-outline-secondary" style="border-radius: 0;">
				<div class="card-header" style="color: white; background-color: black; border-radius: 0;">
					<h3 class="header_title mb-0">My Whishlist</h3>
				</div>
				<div class="card-body">
					<app-travel-destination-form (onItemAdded)="added($event)"></app-travel-destination-form>
				</div> 
			</div>
		</div> 
	</div>

	<hr>
	
	<div class="card-deck"> 
		<app-travel-destination 
		*ngFor="let d of all; let i=index" 
		[destination]="d"
		[url]="d.url"
		[idx]="i+1"
		(onClicked)="chosen(d)"
		appSpyme>	
		</app-travel-destination>
	</div> 

	<hr>

	<div class="row flex">
		<h5>Activity</h5>
		<ul>
			<li *ngFor="let u of updates;"> {{u}}!</li>
		</ul>
	</div>
</div>
